* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  gap: 10px;
  padding-top: 100px;
}
.box {
  background: crimson;
}

/* loader style */
.loader {
  width: 100%;
  height: 100vh;
  background: rgb(22, 121, 9);
  background: linear-gradient(
    90deg,
    rgba(22, 121, 9, 1) 38%,
    rgba(0, 212, 255, 1) 96%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  border: 5px solid black;
  border-radius: 50%;
}
